.footer__site {
    background-color: #2C343E;
    display: flex;
    margin-top: 216px;
}

.footer__image {
    margin: 30px 103px 30px 85px;
}

.footer__img {
    margin-top: 34px;
    margin-left: 30px;

}

.footer__link {
    margin-left: 280px;
    margin-top: 1px;
}